BasedOnStyle: LLVM
BreakBeforeBraces: Linux
ColumnLimit: 118
IndentWidth: 4
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
ObjCBlockIndentWidth: 4
PointerAlignment: Right
SpaceAfterCStyleCast: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: true
KeepEmptyLinesAtTheStartOfBlocks: true
SpaceBeforeParens: ControlStatements
